<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD Absensi</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Absensi Kelas</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Tambahkan Siswa</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Absensi ID</th>
          <th>Nama</th>
          <th>Jurusan</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ absensi_id }}</td>
          <td>{{ absensi_nama }}</td>
          <td>{{ absensi_jurusan }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ absensi_id }}" data-absensi_nama="{{ absensi_nama }}" data-absensi_jurusan="{{ absensi_jurusan }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ absensi_id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Produk-->
      <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Tambahkan Siswa</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="absensi_nama" class="form-control" placeholder="Nama Siswa" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="absensi_jurusan" class="form-control" placeholder="Jurusan" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Produk-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Siswa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="absensi_nama" class="form-control absensi_nama" placeholder="Nama Siswa" required>
              </div>
 
              <div class="form-group">
                  <input type="text" name="absensi_jurusan" class="form-control jurusan" placeholder="Jurusan" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="absensi_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Produk-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="absensi_id" class="form-control absensi_id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var absensi_id = $(this).data('id');
        var absensi_nama = $(this).data('absensi_nama');
        var absensi_jurusan = $(this).data('absensi_jurusan');
        $('#EditModal').modal('show');
        $('.absensi_nama').val(absensi_nama);
        $('.jurusan').val(absensi_jurusan);
        $('.absensi_id').val(absensi_id);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var absensi_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.absensi_id2').val(absensi_id);
      });
 
    });
</script>
</body>
</html>